[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	name = haoran
	email = haoran.mc@outlook.com
[core]
	editor = vim
	pager = delta
	excludesfile = /Users/haoran/.gitignore_global
	quotepath = false
[init]
	defaultBranch = main
[status]
	short = false
[alias]
	br = branch
	st = status
	ci = commit -v
	lo = log --oneline --graph
	lp = log --patch
	la = log --format='%an <%ae>'
[commit]
	template = /Users/haoran/.stCommitMsg
[http]
	postBuffer = 1048576000
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# delta
[interactive]
	diffFilter = delta --color-only --pager
[include]
    path = ~/dotfiles/themes.gitconfig
[delta]
	# delta --show-themes
	features = mytheme
	navigate = true    # use n and N to move between diff sections
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
