[url "git@github.com:"]
	insteadOf = https://github.com/
[user]
	name = haoran
	email = haoran.mc@outlook.com
[core]
	editor = vim
    pager = delta
	excludesfile = /Users/haoran/.gitignore_global
	quotepath = false
[init]
	defaultBranch = main
[status]
	short = false
[alias]
	br = branch
[commit]
	template = /Users/haoran/.stCommitMsg
[http]
	postBuffer = 1048576000
	lowSpeedLimit = 0
	lowSpeedTime = 999999
[pull]
	rebase = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
